<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add
    name="DbConnectionString"
    connectionString="
    App=SOTI Authorization Client Management;
    Data Source=.;
    Initial Catalog=MobiControlDB;
    Persist Security Info=False;
    Integrated Security=True;"
    providerName="System.Data.SqlClient"/>
</connectionStrings>
